.padding-hide {
  padding-left: 0;
  list-style-type: none;
  margin: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --brand-color-black: #212121;
  --brand-color-blue: #2196f3;
  --brand-color-gray: #757575;
  --brand-color-white: #ffffff;
  --background-color: #2f303a;
  --background-color-gray: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black);
}

.flex-shop-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.small-button {
  background-color: var(--background-color-gray);
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px 6px 22px;
}

.small-button:hover, .small-button:focus {
  background-color: var(--brand-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.small-button-item {
  margin-right: 8px;
}

.small-button-item:last-child {
  margin-right: 0px;
}

.small-button-text {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.small-button-text:hover, .small-button-text:focus {
  color: var(--brand-color-white);
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brand-color-black);
  margin-right: 93px;
}

.white {
  color: var(--brand-color-white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 350ms;
  transition-timing-function: linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--brand-color-blue);
}

.close-icon {
  fill: var(--brand-color-black);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*submit btn*/
.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
  width: 200px;
  padding: 10px 55px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-message {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: justify;
  margin-bottom: 12px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.input-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--brand-color-gray);
  margin-bottom: 4px;
}

.form-input {
  min-height: 40px;
  padding: 12px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-input:hover, .form-input:focus {
  border-color: var(--brand-color-blue);
}

.input-icon {
  position: absolute;
  top: 31px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:hover .input-icon,
.modal-label:focus .input-icon {
  fill: var(--brand-color-blue);
}

.form-coments {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  margin-bottom: 10px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-coments:hover, .form-coments:focus {
  border-color: var(--brand-color-blue);
}

.form-coments::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox {
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  width: 16px;
  height: 15px;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  border: 2px solid var(--brand-color-black);
  border-radius: 3px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .custom-checkbox {
  background-color: var(--brand-color-blue);
  border-color: var(--brand-color-blue);
}

.agreement-checkbox:checked + .custom-checkbox > .custom-checkbox-icon {
  fill: var(--brand-color-white);
}

.agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.advantages__list {
  display: flex;
  align-items: center;
}

.advantages__item {
  margin-right: 30px;
}

.advantages__item:last-child {
  margin-right: 0px;
}

.advantages__sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  width: 270px;
  margin-bottom: 10px;
}

.advantages__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
  margin: 0px;
  width: 270px;
}

.advantages__box {
  background-color: var(--background-color-gray);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-clients {
  display: flex;
  align-items: center;
}

.clients-li {
  margin-right: 30px;
}

.clients-li:last-child {
  margin-right: 0px;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: var(--brand-color-blue);
}

.client-item {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-item,
.client-link:focus .client-item {
  fill: var(--brand-color-blue);
}

.deliverables {
  padding-top: 0px;
}

.header2wwd {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 50px;
}

.flex-wat-we-d {
  display: flex;
  align-items: center;
}

.what-we-do-item {
  margin-right: 30px;
}

.what-we-do-item:last-child {
  margin-right: 0px;
}

.image-desc {
  position: relative;
}

.image-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.backgroundblk {
  background-color: var(--background-color);
}

.footer-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav:hover, .footer-nav:focus {
  color: var(--brand-color-blue);
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:hover, .footer-adress:focus {
  color: var(--brand-color-blue);
}

.adress-bar-footer {
  margin-top: 20px;
}

.footer-flex {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.footer-container {
  margin-right: 70px;
}

.flex-icon-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-item-footer {
  margin-right: 10px;
}

.social-item-footer:hover .circle-footer,
.social-item-footer:focus .circle-footer {
  background-color: var(--brand-color-blue);
}

.social-item-footer:last-child {
  margin-right: 0px;
}

.circle-footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-form-container {
  margin-left: 93px;
}

.footer-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  min-height: 50px;
  min-width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--brand-color-white);
}

.footer-button-icon {
  margin-left: 10px;
  fill: var(--brand-color-white);
}

.footer-form-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
}

.font-style-none {
  font-style: normal;
}

.social-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung/backgound.jpg);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero__main-statement {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.hero__main-statement--white {
  color: var(--brand-color-white);
}

.main__button {
  background-color: var(--brand-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  width: 200px;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
}

.main__button:hover, .main__button:focus {
  background-color: #188ce8;
}

.header {
  border-bottom: #ececec solid 1px;
}

.navigation-mar {
  margin-right: 50px;
}

.navigation-mar:last-child {
  margin: 0px;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-black);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:hover, .navigation-item:focus {
  color: var(--brand-color-blue);
}

.blue {
  color: var(--brand-color-blue);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color-blue);
}

.icon-header {
  margin-right: 0px;
  margin-right: 10px;
  fill: var(--brand-color-gray);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-highlight:hover .icon-header,
.header-highlight:focus .icon-header {
  fill: var(--brand-color-blue);
}

.adress-bar {
  margin-left: auto;
  align-items: center;
}

.adress-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color-gray);
  text-decoration: none;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.header-highlight:hover .adress-item,
.header-highlight:focus .adress-item {
  color: var(--brand-color-blue);
}

.flex-products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0px;
  margin-right: -30px;
  margin-bottom: -30px;
}

.product-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover, .product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.inner-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 20px 24px;
}

.image-display-desription {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-black);
  margin: 0px;
  margin-bottom: 4px;
}

.product-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
  margin: 0px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.product-descr {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.product-wrapper:hover .product-descr {
  transform: translateY(0);
}

.team {
  background-color: var(--background-color-gray);
}

.header2oc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 47.65px;
}

.flex-our-com {
  display: flex;
  align-items: center;
}

.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  background-color: #ffffff;
}

.team-item:last-child {
  margin-right: 0px;
}

.image-display {
  display: block;
}

.description-spec {
  padding: 30px;
}

.job-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
  margin: 0px;
  margin-bottom: 16px;
}

.flex-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-item:hover .circle .icon-item,
.social-item:focus .circle .icon-item {
  fill: #ffffff;
}

.hero3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 9.49px;
}

.circle {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.circle:hover, .circle:focus {
  background-color: var(--brand-color-blue);
}

.icon-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */