.backdrop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 350ms;
    transition-timing-function: linear;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-icon {
    fill: var(--brand-color-black);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
    fill: var(--brand-color-blue);
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.product-descr {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

.product-wrapper:hover .product-descr {
    transform: translateY(0);
}

.modal-message {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: justify;
    margin-bottom: 12px;
}

.modal-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.input-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--brand-color-gray);
    margin-bottom: 4px;
}

.form-input {
    min-height: 40px;
    padding: 12px 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.form-input:hover,
.form-input:focus {
    border-color: var(--brand-color-blue);
}

.input-icon {
    position: absolute;
    top: 31px;
    left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:hover .input-icon,
.modal-label:focus .input-icon {
    fill: var(--brand-color-blue);
}

.form-coments {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    height: 120px;
    margin-bottom: 10px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.form-coments:hover,
.form-coments-focus {
    border-color: var(--brand-color-blue);
}

.form-coments::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.agreement {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox {
    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
    width: 16px;
    height: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    border: 2px solid var(--brand-color-black);
    border-radius: 3px;
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
    fill: transparent;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked+.custom-checkbox {
    background-color: var(--brand-color-blue);
    border-color: var(--brand-color-blue);
}

.agreement-checkbox:checked+.custom-checkbox>.custom-checkbox-icon {
    fill: var(--brand-color-white);
}

.agreement-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.agreement-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
}

.submit-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
    width: 200px;
    padding: 10px 55px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
    background-color: #188ce8;
}