.blue {
    color: var(--brand-color-blue);
}

.gray {
    color: var(--brand-color-gray);
}

.white {
    color: var(--brand-color-white);
}

.backgroundgray {
    background-color: var(--background-color-gray);
}